@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline:    none;
  box-sizing: border-box;
  @apply m-0 p-0 text-[#F6F6F6];
}

img, svg, video {
  @apply w-full;
}

body {
  @apply bg-[#212121];
}

.container {
  @apply px-4 max-w-[2500px];
}

.basic-single {
  &.light {
    .select__control {
      @apply bg-[#3D3C3C] border-[#686868] text-sm h-12;
      &:hover {
        @apply border-[#686868];
      }
    }
    .select__option {
      @apply bg-[#3D3C3C] text-sm text-[#D9D9D9];
    }
    .select__placeholder {
      @apply text-sm;
    }
    .select__single-value {
      @apply text-sm;
    }
  }
  &.location {
    .select__value-container {
      padding-left: 22px;
    }
    .select__indicator {
      padding-right: 22px;
      padding-left:  2px;
    }
  }
  .select__placeholder {
    @apply text-[#A4A4A4];
  }
  .select__control {
    @apply bg-[#212121] rounded-[3px] border-[#A4A4A4] hover:bg-[#2F2F2F] cursor-pointer;
    &:hover {
      @apply border-[#A4A4A4];
    }
    &--is-focused {
      @apply shadow-none;
    }
    &--menu-is-open {
      border-radius: 3px 3px 0 0;
    }
  }
  .select__single-value {
    @apply text-[#F6F6F6] text-base;
  }
  .select__menu {
    box-shadow:    none;
    @apply z-20 mt-0 border-b border-r border-l border-[#A4A4A4];
    border-radius: 0 0 3px 3px;
  }
  .select__menu-list {
    @apply p-0;
  }
  .select__option {
    @apply bg-[#212121] hover:bg-[#2F2F2F] cursor-pointer;
    &:not(:last-child) {
      @apply border-b border-[#A4A4A4];
    }
  }
  .select__indicator-separator {
    @apply hidden;
  }
}